@media screen and (min-width: 320px) and (max-width: 480px){
  *{
    top:0;
    left: 0;
  }
  .profile_container {
    display: flex;
    justify-content: center;
    position: static;
    height: 1200px;
    width:680px;
    background: #d3f0f4;
    padding-top: 20px;
  }
  .profile_main {
    display: flex;
    flex-direction: column;
    height: 530px;
    width: 540px;
    margin-top: 50px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 5px 40px 10px #3d3d3d;
  }
  .top_profile_data_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 20px;
  }
  .profile_heading {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 100%;
    width: 120px;
  }
  .profile_heading h2,
  .profile_data h2 {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .profile_data {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    margin-left: 20px;
  }
  .middle_profile_data_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 240px;
    width: 100%;
  }
  .profile_middle_heading {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 100%;
    width: 138px;
  }
  .profile_middle_heading h2 {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .profile_data_middle {
    display: flex;
    justify-content: left;
    height: 100%;
    width: 40%;
    margin-left: 20px;
    margin-top: 5px;
  }
  .profile_data_middle h2{
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: norm
  }
  .input_div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 60%;
    padding-top: 10px;
    padding-left: 20px;
    gap: 5px;
  }
  .firstname_lastname_input {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .firstname_lastname_input input{
    height: 20px;
    width: 160px
  };
  .inputAndError {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .profile_input_tag {
    height: 20px;
    width: 175px;
    border-radius: 4px;
    border: 1px solid black;
    background: #5a5a5a;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 13px;
  }
  .profile_input_tag2 {
    height: 25px;
    width: 181px;
    border-radius: 4px;
    border: 1px solid black;
    background: #5a5a5a;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 13px;
  }
  .profile_input_tag3 {
    height: 20px;
    width: 175px;
    border-radius: 4px;
    border: 1px solid black;
    background: #5a5a5a;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 13px;
  }
  .profile_error-border {
    height: 20px;
    width: 175px;
    border-radius: 4px;
    border: 2px solid red;
    background: #5a5a5a;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 13px;
  }
  .profile_error-border2 {
    height: 25px;
    width: 181px;
    border-radius: 4px;
    border: 2px solid red;
    background: #5a5a5a;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 13px;
  }
  .profile_error-border3 {
    height: 20px;
    width: 175px;
    border-radius: 4px;
    border: 2px solid red;
    background: #5a5a5a;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 13px;
  }
  .profile_error-message {
    position: relative;
    color: red;
    font-size: 7px;
    top: 0;
    padding-top: -8px;
  }
  .profile_hidden_class {
    visibility: collapse;
    font-size: 7px;
  }
  .change_password{
    display: flex;
    justify-content: left;
    align-items: start;
    height: 220px;
    width: 30%;
    padding-top: 20px;
    color: #0c43b3;
  }
  .change_password a{
    padding-left: 20px;
    cursor: pointer;
  }
  .change_password a:hover{
    color: blue;
    font-size: 17px;
  }
  .button_div{
    display: flex;
    justify-content: center;
    align-items: end;
    float: inline-end;
    width: 100%;
  }
  .profile_password_input_div {
    display: flex;
    justify-content: left;
    flex-direction: column;
    height: 100%;
    width: 40%;
    margin-left: 20px;
    margin-top: 20px;
    gap: 10px;
  }
  .editButton {
    height: 40px;
    width: 150px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
  .editButton:hover {
    background-color: black;
    border: 2px solid black;
    color: white;
  }
  .submitButton {
    height: 40px;
    width: 150px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #4b72c2;
    border: 1px solid #4b72c2;
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
  .submitButton:hover {
    background-color: #0c43b3;
  }
}

@media screen and (min-width: 481px) and (max-width: 960px){
  *{
    top:0;
    left: 0;
  }
  .profile_container {
    display: flex;
    justify-content: center;
    position: static;
    height: 1200px;
    width:1000px;
    background: #d3f0f4;
    padding-top: 20px;
  }
  .profile_main {
    display: flex;
    flex-direction: column;
    height: 570px;
    width: 600px;
    margin-top: 60px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 5px 40px 10px #3d3d3d;
  }
  .top_profile_data_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 20px;
  }
  .profile_heading {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 100%;
    width: 140px;
  }
  .profile_heading h2,
  .profile_data h2 {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .profile_data {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    margin-left: 20px;
  }
  .middle_profile_data_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 240px;
    width: 100%;
  }
  .profile_middle_heading {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 100%;
    width: 160px;
  }
  .profile_middle_heading h2 {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .profile_data_middle {
    display: flex;
    justify-content: left;
    height: 100%;
    width: 40%;
    margin-left: 20px;
    margin-top: 5px;
  }
  .profile_data_middle h2{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: norm
  }
  .input_div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 60%;
    padding-top: 17px;
    padding-left: 20px;
    gap: 10px;
  }
  .firstname_lastname_input {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .firstname_lastname_input input{
    height: 25px;
    width: 185px
  };
  .inputAndError {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .profile_input_tag {
    height: 25px;
    width: 195px;
    border-radius: 4px;
    border: 1px solid black;
    background: #5a5a5a;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 15px;
  }
  .profile_input_tag2 {
    height: 28px;
    width: 200px;
    border-radius: 4px;
    border: 1px solid black;
    background: #5a5a5a;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 15px;
  }
  .profile_input_tag3 {
    height: 20px;
    width: 175px;
    border-radius: 4px;
    border: 1px solid black;
    background: #5a5a5a;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 15px;
  }
  .profile_error-border {
    height: 25px;
    width: 195px;
    border-radius: 4px;
    border: 2px solid red;
    background: #5a5a5a;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 15px;
  }
  .profile_error-border2 {
    height: 28px;
    width: 200px;
    border-radius: 4px;
    border: 2px solid red;
    background: #5a5a5a;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 15px;
  }
  .profile_error-border3 {
    height: 25px;
    width: 195px;
    border-radius: 4px;
    border: 2px solid red;
    background: #5a5a5a;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 15px;
  }
  .profile_error-message {
    position: relative;
    color: red;
    font-size: 9px;
    top: 0;
    padding-top: -8px;
  }
  .profile_hidden_class {
    visibility: collapse;
    font-size: 9px;
  }
  .change_password{
    display: flex;
    justify-content: left;
    align-items: start;
    height: 220px;
    width: 30%;
    padding-top: 20px;
    color: #0c43b3;
  }
  .change_password a{
    padding-left: 20px;
    cursor: pointer;
  }
  .change_password a:hover{
    color: blue;
    font-size: 17px;
  }
  .button_div{
    display: flex;
    justify-content: center;
    align-items: end;
    float: inline-end;
    width: 100%;
  }
  .profile_password_input_div {
    display: flex;
    justify-content: left;
    flex-direction: column;
    height: 100%;
    width: 40%;
    margin-left: 20px;
    margin-top: 20px;
    gap: 10px;
  }
  .editButton {
    height: 40px;
    width: 150px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
  .editButton:hover {
    background-color: black;
    border: 2px solid black;
    color: white;
  }
  .submitButton {
    height: 40px;
    width: 150px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #4b72c2;
    border: 1px solid #4b72c2;
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
  .submitButton:hover {
    background-color: #0c43b3;
  }
}

@media screen and (min-width: 961px) and (max-width: 1400px) {
  .profile_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    height: 650px;
    width: 100%;
    background: #d3f0f4;
    padding-top: 20px;
  }
  .profile_main {
    display: flex;
    flex-direction: column;
    height: 540px;
    width: 630px;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 5px 40px 10px #3d3d3d;
  }
  .top_profile_data_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 20px;
  }
  .profile_heading {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 100%;
    width: 180px;
  }
  .profile_heading h2,
  .profile_data h2 {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .profile_data {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    margin-left: 20px;
  }
  .middle_profile_data_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 240px;
    width: 100%;
    padding-left: 20px;
  }
  .profile_middle_heading {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 100%;
    width: 180px;
  }
  .profile_middle_heading h2 {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .input_div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 60%;
    padding-top: 18px;
    padding-left: 20px;
    gap: 18px;
  }
  .firstname_lastname_input {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .inputAndError {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .profile_input_tag {
    height: 20px;
    width: 230px;
    border-radius: 4px;
    border: 1px solid black;
    background: #5a5a5a;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 15px;
  }
  .profile_input_tag2 {
    height: 25px;
    width: 235px;
    border-radius: 4px;
    border: 1px solid black;
    background: #5a5a5a;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 15px;
  }
  .profile_input_tag3 {
    height: 20px;
    width: 175px;
    border-radius: 4px;
    border: 1px solid black;
    background: #5a5a5a;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 15px;
  }
  .profile_error-border {
    height: 20px;
    width: 230px;
    border-radius: 4px;
    border: 2px solid red;
    background: #5a5a5a;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 15px;
  }
  .profile_error-border2 {
    height: 25px;
    width: 230px;
    border-radius: 4px;
    border: 2px solid red;
    background: #5a5a5a;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 15px;
  }
  .profile_error-border3 {
    height: 20px;
    width: 175px;
    border-radius: 4px;
    border: 2px solid red;
    background: #5a5a5a;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 15px;
  }
  .profile_error-message {
    position: relative;
    color: red;
    font-size: 10px;
    top: 0;
    padding-top: -8px;
  }
  .profile_hidden_class {
    visibility: collapse;
    font-size: 10px;
  }
  .profile_data_middle {
    display: flex;
    justify-content: left;
    height: 100%;
    width: 40%;
    margin-left: 20px;
    margin-top: 10px;
  }
  .profile_data_middle h2{
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: norm
  }
  .change_password{
    display: flex;
    justify-content: left;
    align-items: start;
    height: 220px;
    width: 30%;
    padding-top: 20px;
    color: #0c43b3;
  }
  .change_password a{
    padding-left: 20px;
    cursor: pointer;
  }
  .change_password a:hover{
    color: blue;
    font-size: 17px;
  }
  .button_div{
    display: flex;
    justify-content: center;
    align-items: end;
    float: inline-end;
    width: 100%;
  }
  .profile_password_input_div {
    display: flex;
    justify-content: left;
    flex-direction: column;
    height: 100%;
    width: 40%;
    margin-left: 20px;
    margin-top: 35px;
    gap: 18px;
  }
  .editButton {
    height: 40px;
    width: 150px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
  .editButton:hover {
    background-color: black;
    border: 2px solid black;
    color: white;
  }
  .submitButton {
    height: 40px;
    width: 150px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #4b72c2;
    border: 1px solid #4b72c2;
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
  }
  .submitButton:hover {
    background-color: #0c43b3;
  }
}
