@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@media screen and (min-width: 320px) and (max-width: 480px) {
  .container1 {
    position: static;
  }
  .main_page_container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 580px;
    width: 100%;
    background-color: #131313;
    padding-top: 20px;
  }
  .mid_container1 {
    display: flex;
    justify-content: center;
    height: 480px;
    width: 380px;
    border-radius: 20px 20px 20px 20px;
    background-color: #242424;
    box-shadow: 5px 5px 15px 10px;
  }
  .contain_container1 {
    top: 0;
    height: 100%;
    width: 90%;
  }
  .heading1 {
    width: 100%;
    gap: 0px;
  }
  .heading1 h1 {
    color: #fff;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .heading1 p {
    color: #7f7f7f;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .input_container1 {
    display: flex;
    flex-direction: column;
  }
  .input_tag1 {
    border: 1px solid #3d3d3d;
    border-radius: 4px;
    background: #242424;
    height: 24px;
    width: 95%;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 16px;
    letter-spacing: 3px;
    scrollbar-width: none;
  }
  .input_tag2 {
    border: 1px solid #3d3d3d;
    border-radius: 4px;
    background: #242424;
    height: 28px;
    width: 101%;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 30px;
    scrollbar-width: none;
  }
  .error-border {
    border: 0.5px solid red;
    border-radius: 4px;
    background: #242424;
    height: 24px;
    width: 95%;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 16px;
    letter-spacing: 3px;
    scrollbar-width: none;
  }
  .error-border2 {
    border: 0.5px solid red;
    border-radius: 4px;
    background: #242424;
    height: 28px;
    width: 101%;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 30px;
    scrollbar-width: none;
  }
  .error-message {
    position: relative;
    color: red;
    font-size: 7px;
    top: 0;
  }
  .hidden_class {
    visibility: collapse;
    font-size: 7px;
  }
  .visible_icon1 {
    color: #ffffff;
  }
  .Bottom_container1 {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 15px;
  }
  .button1 {
    height: 35px;
    width: 110px;
    flex-shrink: 0;
    border: 2px solid #4b72c2;
    background-color: #4b72c2;
    border-radius: 4px;
    color: #fff;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    cursor: pointer;
  }
  .button1:hover {
    border: 2px solid #0947c2;
    background-color: #0947c2;
    color: #fff;
    font-family: Poppins;
    font-size: 13spx;
    font-style: normal;
    font-weight: 400;
  }
  .line1 {
    border: 1px solid #3d3d3d;
    width: 100%;
    flex-shrink: 0;
  }
  .signin_note {
    color: #fff;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
  .login_note {
    color: #fff;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
  .a_tag1 {
    color: #4b72c2;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
  }
  .a_tag1:hover{
    color: #0947c2;
  }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
  .container1 {
    position: static;
  }
  .main_page_container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    background-color: #131313;
    padding-top: 20px;
  }
  .mid_container1 {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 460px;
    border-radius: 20px 20px 20px 20px;
    background-color: #242424;
    box-shadow: 5px 5px 15px 10px;
  }
  .contain_container1 {
    top: 0;
    height: 100%;
    width: 90%;
  }
  .heading1 {
    width: 100%;
    gap: 0px;
  }
  .heading1 h1 {
    color: #fff;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .heading1 p {
    color: #7f7f7f;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .input_container1 {
    display: flex;
    flex-direction: column;
  }
  .input_tag1 {
    border: 1px solid #3d3d3d;
    border-radius: 4px;
    background: #242424;
    height: 26px;
    width: 95%;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 16px;
    letter-spacing: 3px;
    scrollbar-width: none;
  }
  .input_tag2 {
    border: 1px solid #3d3d3d;
    border-radius: 4px;
    background: #242424;
    height: 30px;
    width: 99.6%;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 30px;
    scrollbar-width: none;
  }
  .error-border {
    border: 0.5px solid red;
    border-radius: 4px;
    background: #242424;
    height: 26px;
    width: 95%;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 16px;
    letter-spacing: 3px;
    scrollbar-width: none;
  }
  .error-border2 {
    border: 0.5px solid red;
    border-radius: 4px;
    background: #242424;
    height: 30px;
    width: 99.6%;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 30px;
    scrollbar-width: none;
  }
  .error-message {
    position: relative;
    color: red;
    font-size: 9px;
    top: 0;
  }
  .hidden_class {
    visibility: collapse;
    font-size: 9px;
  }
  .visible_icon1 {
    color: #ffffff;
  }
  .Bottom_container1 {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 15px;
  }
  .button1 {
    height: 38px;
    width: 120px;
    flex-shrink: 0;
    border: 2px solid #4b72c2;
    background-color: #4b72c2;
    border-radius: 4px;
    color: #fff;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    cursor: pointer;
  }
  .button1:hover {
    border: 2px solid #0947c2;
    background-color: #0947c2;
    color: #fff;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
  }
  .line1 {
    border: 1px solid #3d3d3d;
    width: 100%;
    flex-shrink: 0;
  }
  .signin_note {
    color: #fff;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
  .login_note {
    color: #fff;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
  .a_tag1 {
    color: #4b72c2;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
  }
  .a_tag1:hover{
    color: #0947c2;
  }
}

@media screen and (min-width: 961px) and (max-width: 1400px) {
  .container1 {
    position: static;
  }
  .main_page_container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: #131313;
    padding-top: 80px;
  }
  .mid_container1 {
    display: flex;
    justify-content: center;
    height: 570px;
    width: 500px;
    border-radius: 20px 20px 20px 20px;
    background-color: #242424;
    box-shadow: 5px 5px 15px 10px;
  }
  .contain_container1 {
    top: 0;
    height: 100%;
    width: 90%;
  }
  .heading1 {
    width: 100%;
    gap: 0px;
  }
  .heading1 h1 {
    color: #fff;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .heading1 p {
    color: #7f7f7f;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .input_container1 {
    display: flex;
    flex-direction: column;
  }
  .input_tag1 {
    border: 1px solid #3d3d3d;
    border-radius: 4px;
    background: #242424;
    height: 30px;
    width: 95%;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 16px;
    letter-spacing: 3px;
    scrollbar-width: none;
  }
  .input_tag2 {
    border: 1px solid #3d3d3d;
    border-radius: 4px;
    background: #242424;
    height: 34px;
    width: 99.6%;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 30px;
    scrollbar-width: none;
  }
  .error-border {
    border: 1px solid red;
    border-radius: 4px;
    background: #242424;
    height: 30px;
    width: 95%;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 16px;
    letter-spacing: 3px;
    scrollbar-width: none;
  }
  .error-border2 {
    border: 1px solid red;
    border-radius: 4px;
    background: #242424;
    height: 34px;
    width: 99.6%;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 30px;
    scrollbar-width: none;
  }
  .error-message {
    position: relative;
    color: red;
    font-size: 10px;
    top: 0;
  }
  .hidden_class {
    visibility: collapse;
    font-size: 10px;
  }
  .visible_icon1 {
    color: #ffffff;
  }
  .Bottom_container1 {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    gap: 20px;
  }
  .button1 {
    height: 40px;
    width: 150px;
    flex-shrink: 0;
    border: 2px solid #4b72c2;
    background-color: #4b72c2;
    border-radius: 4px;
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    cursor: pointer;
  }
  .button1:hover {
    border: 2px solid #0947c2;
    background-color: #0947c2;
    color: #fff;
    font-family: Poppins;
    font-size: 16spx;
    font-style: normal;
    font-weight: 400;
  }
  .line1 {
    border: 1px solid #3d3d3d;
    width: 100%;
    flex-shrink: 0;
  }
  .signin_note {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
  .login_note {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
  .a_tag1 {
    color: #4b72c2;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
  }
  .a_tag1:hover{
    color: #0947c2;
  }
}
